
/*
a	{
	color: #8451a1;
	border-bottom: 1px dotted;
}

a:hover {
   color: #8451a1;
}
*/

body {
	font-weight: 400;
}


.clickToReveal .fadedContent {
	position: relative;
	height: 70px;
	overflow: hidden;
}
.clickToReveal .fadeDiv {
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;
	background:linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) );
}
.clickToReveal .more {
	text-align: center;
}


.faq {
	counter-reset: faq-counter;
}
.faq ol {
	list-style-type: none;	
}
.faq li {
	padding-top: 0px;
	position:relative;
}
.faq li:before {
	content: counter(faq-counter);
	counter-increment: faq-counter;
	font-size: 40px;
	font-weight: bold;
	text-align: right;
	width: 2em;
	position: absolute;
	top: -.5em;
	left: -2.5em;
}
.faq li p:first-child {
	font-size: larger;
	font-weight: bold;
}


.faq .numbers td, th {
	text-align: right;
}

.faq ol .footnotes p {
	font-size: 11pt;
	font-weight: 300;
}

.footnotes p {
	font-size: 11pt;
	font-weight: 300;
}

/* Hide the default title; we want a different one. */
body[data-url="/welcome/"] h1:first-child {
	display: none;
}

/* Hide the default title; we want a different one. */
body[data-url="/basics/history/"] h1:first-child {
	display: none;
}

#chapter .preview h3 {
	text-align: left;
	margin-bottom: 0px;
}

#chapter .preview p {
	text-align: left;
	font-weight: 400;
	font-size: 16px;
	color: #323232;
	margin-top: 0.5rem;
	margin-bottom: 0.25rem;
}

/*
 * Background for the logo
 */
#header-wrapper {
	background-color: #322A38;
}

.add-your-name {
	color: white;
	background-color: red;
	border: red 2px solid;
	margin-top: 7px;
	font-size: 18px;
	line-height: 1.33333;
	border-radius: 6px;
	font-weight: 400;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	text-align: center;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}