
<title>Local Proportional Representation</title>
<meta name="description" content="Local Proportional Representation: Regionally proportional, Locally Representative.">
<meta http-equiv="refresh" content="0; url=basics/index.html"/>

  <meta property="og:url"           content="http://www.localpr.ca" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Local Proportional Representation" />
  <meta property="og:description"   content="Regionally Proportional. Locally Representative." />
  <meta property="og:image"         content="http://www.localpr.ca/static/Local-PR-logo.png" />


<h1>Local Proportional Representation</h1>

<h3>Regionally Proportional.  Locally Representative.</h3>